.register{
  display: flex;
  font-family: var(--font-family);
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.register-container {
  background: #2A2D3A;
  border-radius: 20px;
  padding: 2rem;
  min-width: 30%;
}
.register-container h1{
  font-weight: 600;
  font-size: 48px;
  line-height: 42px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.register-formGroup{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-bottom: 12px;
}
.register-formGroup label{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* margin-bottom: 15px; */
}
.register-formGroup label .required {
  color:  var(--primary-color);
  margin-left: 5px;
}
.register-formGroup input{
  background: #1B1A21;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
}

.register-formGroup textarea{
  background: #2D2E36;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
}
.register-formGroup select{
  background: #2D2E36;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
  text-overflow: ellipsis;
}
.register-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register-writeButton{
  /* float: right; */
  background: var(--primary-btn);
  border: none;
  border-radius: 10px;
  padding: 12px 30px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.reg-login-writeButton{
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 12px 30px;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.title-black{
  font-family: PosteramaText-Regular, Times New Roman, Times, sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

.specialText{
  /* background-image: linear-gradient(90deg, #5cbffe, #a0f5d0, #ffd7c8 100%); */
  color: var(--primary-color);
}


@media screen and (max-width: 550px){
  .register{
    padding:2rem 1.5rem !important;

    display: block;
    /* padding: 0px!important; */

  }
  .register-container{
    padding: 1.5rem 1rem;
  }
  .register-container h1{
    /* display: none; */
      font-size: 36px;
      margin-top: 0;
  }
  .register-formGroup label{
    font-size: 20px;
    line-height: 30px;
  }
  
}


.otp-wrapper {
  position: relative;  
}

.otp-input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #333;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 1rem;
}

.btn-send-otp, .otp-timer {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #4cafef;
  font-weight: bold;
  background-color: transparent;
}

/* Popup panel */
.otp-panel-overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5); /* Optional overlay */
  z-index: 1000;
}

.otp-panel-slide {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; /* Or use 50% for partial screen */
  max-width: 480px; /* Optional: cap width */
  height: 100%;
  background-color: white;
  animation: slideIn 0.3s ease-out forwards;
  box-shadow: -2px 0 8px rgba(0,0,0,0.2);
}

.slide-in {
  animation: slideIn 0.3s ease-out forwards;
}
.slide-out {
  animation: slideOut 0.3s ease-in forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}