.btn-sell-stake {
    background-image: -webkit-gradient(linear,left top,right top,from(#5cbffe),color-stop(#a0f5d0),to(#ffd7c8));
    background-image: linear-gradient(90deg, #5cbffe, #a0f5d0, #ffd7c8);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    font-family: PosteramaText-Regular, Times New Roman, Times, sans-serif;
    font-size: 1rem;
    color: #fff;
    height: 45px;
    border: 0;
    border-radius: 10px;

    min-width: 100%;
    height: 36px;
    margin-top: 8px;
    border-radius: 24px;
}